<div class="container w-75 text-center">
    <br>
    <h1>UPDATE PRODUCT</h1>
    <div style="background-color: black; border: 15px black solid;border-radius: 10px;">
        <form (ngSubmit)="updateProduct(updateproductform)" #updateproductform="ngForm" action="" class=" text-center">
            <input [(ngModel)]="productdata.id"  id="pid" name="p1" class="form-control mt-2 p-2 " placeholder="product id" type="text">
            <input [(ngModel)]="productdata.productName"   id="pname" name="p2" class="form-control mt-2 p-2" placeholder="product name" type="text">
            <input [(ngModel)]="productdata.catergoryId"  id="cid" name="p3" class="form-control mt-2 p-2" placeholder="category id" type="text">
            <input [(ngModel)]="productdata.description"  id="did" name="p4" class="form-control mt-2 p-2" placeholder="description id" type="text">
            <input [(ngModel)]="productdata.price"  id="priceid" name="p5" class="form-control mt-2 p-2" placeholder="price" type="text">
            <input [(ngModel)]="productdata.is_avaliable"  id="avid" name="p6" class="form-control mt-2 p-2" placeholder="is availiable true/false" type="text">
            <input [(ngModel)]="productdata.productImg"  id="imid" name="p7" class="form-control mt-2 p-2" placeholder="product image" type="text">
            <input [(ngModel)]="productdata.rating"  id="ratiid" name="p8" class="form-control mt-2 p-2" placeholder="product rating" type="text">
            <input [(ngModel)]="productdata.review"  id="reid" name="p9" class="form-control mt-2 p-2" placeholder="product review" type="text">
            <input [(ngModel)]="productdata.vendor_name"  id="venid" name="p10" class="form-control mt-2 p-2" placeholder="vendor nav-item" type="text">
            <input [(ngModel)]="productdata.warranty"  id="warid" name="p11" class="form-control mt-2 p-2" placeholder="warrenty" type="text">
            <br>
            <button class="form-control mt-2 p-2 mb-3" placeholder="" class="btn btn-success">Update product</button>
            <br>
        </form>
    </div>
    <br>
</div>