<svg style="pointer-events: none" class="wave " style="background-color:'black';" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
    <defs>
        <style>
            .a {
                fill: none;
            }
            
            .b {
                clip-path: url(#a);
            }
            
            .c,
            .d {
                fill: #fafaff;
            }
            
            .d {
                opacity: 0.5;
                isolation: isolate;
            }
        </style>
        <clipPath id="a">
            <rect class="a" width="1920" height="75"></rect>
        </clipPath>
    </defs>
    <title>wave</title>
    <g class="b">
        <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
    </g>
    <g class="b">
        <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
    </g>
    <g class="b">
        <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
    </g>
    <g class="b">
        <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
    </g>
</svg>

<div class="cards-list">
  <a (click)="filter('')">
    <div class="card 1">
      <div class="card_image"> <img src="https://media.tenor.com/9hz1KaltXKYAAAAC/apple-apple-product.gif" /> </div>
      <div class="card_title title-white">
        <p style="color: aliceblue;margin-top: 20px;">Apple</p>
      </div>
    </div>
    </a>

    <a (click)="filter('1')">
      <div class="card 2">
      <div class="card_image">
        <img src="https://media.tenor.com/VrLM772nNmIAAAAC/apple-apple-ipad.gif" />
        </div>
      <div class="card_title title-white">
        <p  style="color: aliceblue;margin-top: 20px;">Apple iPAD</p>
      </div>
    </div>
    </a>

    <a (click)="filter('2')">
    <div class="card 3">
      <div class="card_image">
        <img src="https://www.celcom.com.my/sites/default/files/inline-images/storytelling_gif_get_ready_page_0.gif" />
      </div>
      <div class="card_title">
        <p style="color: aliceblue;margin-top: 20px;">iPHONE</p>
      </div>
    </div>
      </a>

      <a (click)="filter('3')">
      <div class="card 4">
      <div class="card_image">
        <img src="https://cdn.dribbble.com/users/2123811/screenshots/16445755/media/5e60c613c51fe6e489c50e3eea1ee877.gif" />
        </div>
      <div class="card_title title-black">
        <p style="color: aliceblue;margin-top: 20px;">AirPoDS</p>
      </div>
      </div>
    </a>
    </div>

    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5 ">
          <div class="row gx-4 gx-lg-4 row-cols-4 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div *ngFor="let i of filterproducts | filter:searchKey:'productName' " class="col mb-5">
                <a href="product/view-product/{{i.id}}" style="text-decoration: none;color: black;">
                  <div class="card h-100" style="width: 300px;">
                      <!-- Product image-->
                      <img style="border-radius: 30px;height: 300px;border: 5px rgb(236, 234, 234) solid;" class="card_img-top" src="{{i.productImg}}" alt="..."  />
                      <!-- Product details-->
                      <div class="card-body "style="height:60px">
                          <span class="tag tag-brown">Rating: {{i.rating}}</span>
                          <br>

                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">{{i.productName}}</h5>
                              <!-- Product price-->
                              <span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                                  Rs.{{i.price}}</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                     
                  </div>
                  </a>
              </div>

          </div>
      </div>
  </section>
<br>
<br>
<div class="container1">
  <img style="width: 100%;margin-bottom: 10px;border-radius: 40px;" src="https://i.postimg.cc/RhpdN55b/Screenshot-2023-02-07-154533.jpg"/>

</div>
  <br>
  <br>
  <div class="container1">
    <img style="width: 100%;margin-bottom: 40px;border-radius: 40px;" src="https://i.postimg.cc/JhYBMxj0/Screenshot-2023-02-06-150540.jpg"/>
  <a style="text-decoration: no
  ;" href="https://one.apple.com/in/?cc=in&urlDesc=&ign-itscg=10000&ign-itsct=pod-ovp-apple_one-apl-ann-21_1019">  <button class="btn" style="margin-left: 1032px;margin-top: -360px; width: 235px;color: black;"
   >Try for Free
  </button></a>
</div>